<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>组件2-5</title>
	<link rel="stylesheet" href="./file/bootstrap.css">
	<script src="./file/vue.min.js"></script>
</head>
<body>
	<div id="app1">
		<input v-model="parentMsg">
		<br>
		<child :msg="parentMsg"></child>default,one-way-down binding
		<br>2.
		<child :msg.sync="parentMsg"></child>explicit,two-way-down binding
		<br>3.
		<child :msg.once="parentMsg"></child>default,one-way-down binding
		<br>
	</div>
</body>

<script>
	Vue.component('child',{
		props:['msg'],
		template:'<span><input v-model="msg"></span>'
	});
	var vm=new Vue({
		el:'#app1',
		data:{
			parentMsg:'cuijianjun'
		}
	})
</script>
</html>