/*css初始化*/
body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd {
    font-size: 12px;
    font-family: "宋体";
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #4E567A;
}
a:hover {
    color: #D86424;
    text-decoration: underline;
}
input img {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
}
i,s{

    font-style: normal;
    text-decoration: none;

}
.w1 {
    width: 956px;
    margin: 0 auto;
}
.clearfix:after{
    content: " ";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
}
.fr {
    float: right;
}